.service-title {
    color: #1F2A44 !important;
    font-family: "Playfair", serif;
    /* text-decoration: underline; */
    font-weight: bold;
}

.services-section{
    border:1px solid black;
}

.service-box {
    border:1px solid #c9ccd6;
    height: 200px;
}

.service-descrip {
    color: #1f2a44 !important;
}

.services-hr {
    border: 0;
    height: 2px;
    background-color: #c9ccd6;
}

.about-link{
    color:#1F2A44 !important;
}

.about-link:hover {
    text-decoration: underline;
}